.border-icon {
    background-image: linear-gradient(rgb(79 70 229), rgb(124 58 237));
    border-radius: 9999px;
    position: absolute;
    animation: spin 5s linear infinite;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.background-container {
    background-image: linear-gradient(to bottom right, rgb(46 16 101 / .80), rgb(30 27 75 / .80), rgb(59 7 100 / .80), rgb(30 27 75 / .80), rgb(46 16 101 / .80), rgb(30 27 75 / .80), rgb(59 7 100 / .80));
    animation: bg-scroll 15s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes bg-scroll {
    0% {
        background-position: 10% 0%;
    }

    50% {
        background-position: 91% 100%;
    }

    100% {
        background-position: 10% 0%;
    }
}


.expand-anim {
    animation: expand-content 0.5s ease forwards;
    transform-origin: top;
}
.collapse-anim {
    animation: collapse-content 0.5s ease forwards;
    transform-origin: top;
}


@keyframes expand-content {
    from {
        opacity: 0;
        transform: translateY(-20%);
        display: block;
    }

    to {
        opacity: 1;
        transform: translateY(0%);
        display: block;
    }
}

@keyframes collapse-content {
    from {
        opacity: 1;
        transform: translateY(0%);
        display: block;
    }

    to {
        opacity: 0;
        transform: translateY(-20%);
        display: none;
    }
}



/* I'm too lazy to calculate aspect ratio to scale so this is what I came up with. Change in the future? */

@media (min-aspect-ratio: 0) {
    .background {
        --scale-y: 1;
        --scale-x: 10;
    }
}

@media (min-aspect-ratio: 0.1) {
    .background {
        --scale-y: 1;
        --scale-x: 5;
    }
}

@media (min-aspect-ratio: 0.2) {
    .background {
        --scale-y: 1;
        --scale-x: 4;
    }
}

@media (min-aspect-ratio: 0.3) {
    .background {
        --scale-y: 1;
        --scale-x: 3;
    }
}

@media (min-aspect-ratio: 0.4) {
    .background {
        --scale-y: 2;
        --scale-x: 3;
    }
}

@media (min-aspect-ratio: 0.6) {
    .background {
        --scale-y: 2;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 1) {
    .background {
        --scale-y: 3;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 2) {
    .background {
        --scale-y: 3;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 3) {
    .background {
        --scale-y: 4;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 4) {
    .background {
        --scale-y: 5;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 5) {
    .background {
        --scale-y: 7;
        --scale-x: 2;
    }
}

@media(min-aspect-ratio: 7) {
    .background {
        --scale-y: 9;
        --scale-x: 2;
    }
}


.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url('images/background.jpg');
    background-size: contain;
    transform-origin: center;
    animation: background-spin 1000s linear infinite;
    z-index: -1;
}

@keyframes background-spin {
    from {
        transform: rotate(0deg) scaleX(var(--scale-x)) scaleY(var(--scale-y));
    }

    to {
        transform: rotate(360deg) scaleX(var(--scale-x)) scaleY(var(--scale-y));
    }
}